
@{
    ViewBag.Title = "PaymentConfirm";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}

<div style="height:100vh; text-align:center; justify-content:center">
    <h2>PaymentConfirm</h2>
    <span style="width:200px"><hr /></span>
    <h5>@ViewBag.Message</h5>
</div>
